<% directions_link = directions_link || nil %>
<% text = text || "Directions" %>
<% vehicle = vehicle || "car" %>

<div class="travel-time">

  <div class="travel-time__car-visual">

    <%= inline_svg(
      "dotted-line.svg",
      role: "img",
      aria_hidden: "true",
      alt: "dotted line",
    ) %>

    <i class="fas fa-<%= vehicle%>"></i>

    <%= inline_svg(
      "dotted-line.svg",
      role: "img",
      aria_hidden: "true",
      alt: "dotted line",
    ) %>
  </div>

  <p class="travel-time__time"><%= travel_time %></p>

  <% if directions_link %>

    <% link_to(
      directions_link || "#",
      target: "_blank",
      class: "travel-time__directions-link") do %>

      <%= text %> <i class="fas fa-chevron-right"></i>
    <% end %>

  <% end %>
</div>
