---
title: Roadtrip - June 2018
---

<% content_for :theme, data.jun2018.theme %>

<header>
  <h2>MATT &amp; VENDELA'S</h2>
  <h1>ROADTRIP</h1>
  <h2>SAN DIEGO TO JACKSON HOLE</h2>
  <date>JUNE 10-18, 2018</date>
</header>

<%= partial "itinerary/june-2018/day1" %>

<%= partial "itinerary/june-2018/night1" %>

<%= partial "itinerary/june-2018/day2" %>

<%= partial "itinerary/june-2018/night2" %>

<%= partial "itinerary/june-2018/day3" %>

<%= partial "itinerary/june-2018/night3" %>

<%= partial "itinerary/june-2018/day4" %>

<%= partial "itinerary/june-2018/night4" %>

<%= partial "itinerary/june-2018/day5" %>

<%= partial "itinerary/june-2018/night5" %>

<%= partial "itinerary/june-2018/day6" %>

<%= partial "itinerary/june-2018/night6" %>

<%= partial "itinerary/june-2018/day7" %>

<%= partial "itinerary/june-2018/night6" %>

<%= partial "itinerary/june-2018/day8" %>

<%= partial "itinerary/june-2018/night8" %>

<%= partial "itinerary/june-2018/day9" %>

<footer>
  <i class="fas fa-home"></i>
</footer>
