<section class="overnight <%= item.class_name %>">

  <h2 class="overnight__location">
    <% if item.icon.present? %>
      <i class="fas fa-<%= item.icon %>"></i>
    <% end %>
    <%= item.title %>
  </h2>

  <p class="overnight__address">
    <%= simple_format(item.address) %>
  </p>

  <% if item.link.present? %>
    <a class="overnight__link" href="<%= item.link %>">
      <i class="fas fa-external-link-alt"></i>
    </a>
  <% end %>

</section>
